@import "../variables/index";
@import "../mixins//index";

.cs-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: $text-color-regular;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: $color-white;
  border: 1px solid $border-color-base;
  border-radius: 4px;
  outline: none;
  transition: 0.1s;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background: $color-white-gr1;
  }

  &:active {
    transform: translateY(0.5px);
  }

  &:disabled {
    &,
    &:hover,
    &:focus {
      color: $text-color-disabled;
      cursor: not-allowed;
      background: $color-white;
      background-image: none;
    }
  }

  &--primary {
    @include button-variant($color-white, $color-primary, $color-primary);
  }

  &--success {
    @include button-variant($color-white, $color-success, $color-success);
  }

  &--warning {
    @include button-variant($color-white, $color-warning, $color-warning);
  }

  &--danger {
    @include button-variant($color-white, $color-danger, $color-danger);
  }
}
